<div class="mx-auto text-center grid grid-cols-3 gap-4">
    {% for movie in movies %}
        <div class="bg-white shadow-lg rounded-lg p-4">
            <a href="{% url 'movie' movie.id %}" class="block mb-2 px-4 py-2 border border-gray-400 text-gray-800 rounded hover:bg-gray-200">{{ movie.title }}</a>
            <p class="text-blue-700 mb-4">
                <span class="font-bold">Rating: </span> 
                {% for i in "12345"|make_list %}
                    {% if forloop.counter <= movie.average_rating %}
                        <i class="fas fa-star text-yellow-500"></i>
                    {% else %}
                        <i class="fas fa-star text-yellow-500 opacity-25"></i>
                    {% endif %}
                {% endfor %}
            </p>
            <p class="mb-2">
                {{ movie.description }}
            </p>
            <p class="mb-2">
                <span class="font-bold">Genres:</span>
                {% for genre_name in movie.genres %}
                <a class="genre-button text-white bg-blue-500 rounded hover:bg-blue-700 px-2 py-1" href="{% url 'genre' genre_name %}">{{ genre_name }}</a>
                {% endfor %}
            </p>
        </div>
    {% endfor %}
</div>