{% extends 'main.html' %}

{% block content %}
    <br>
    <br>
    <div class="mx-auto text-center">
        <h2 class="text-3xl font-bold mb-4">{{ genre }}</h2>
    </div>
    <br>
    <br>
    <div class="mx-auto text-center grid grid-cols-3 gap-4">
        {% for movie in movies %}
            <div class="bg-white shadow-lg rounded-lg p-4 hover:bg-gray-200">
                <a href="{% url 'movie' movie.id %}" class="block text-gray-800 mb-2">{{ movie.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}