{% extends 'main.html' %}

{% block content %}
<div class="flex flex-col justify-center min-h-screen bg-gray-100 py-10">
    <div class="mt-6 bg-white shadow-lg rounded-lg p-6 mx-auto text-center w-1/2">
        <h1 class="text-4xl text-blue-900 mb-5">{{ movie.title }}</h1>
    
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'toggle_like_movie' movie_id=movie.id %}">
                {% csrf_token %}
                <button type="submit" class="{% if user_likes_movie %}bg-blue-500 hover:bg-red-700{% else %}bg-blue-500 hover:bg-blue-700{% endif %} text-white py-2 px-4 rounded">
                    {% if user_likes_movie %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
            </form>
        {% endif %}
    
        <br>
        <p class="text-blue-700 mb-2"><span class="font-bold"></span> {{ movie.description }}</p>
        <br>
        <p class="text-blue-700 mb-4">
            <span class="font-bold">Rating:</span> 
            {% for i in "12345"|make_list %}
                {% if forloop.counter <= average_rating %}
                    <i class="fas fa-star text-yellow-500"></i>
                {% else %}
                    <i class="fas fa-star text-yellow-500 opacity-25"></i>
                {% endif %}
            {% endfor %}
        </p>
        <div class="grid gap-4 mt-6">
            <div>
                <p class="text-blue-700 mb-2"><span class="font-bold">Year Released:</span> {{ movie.year_released }}</p>
                <p class="text-blue-700 mb-2"><span class="font-bold">Duration:</span> {{ movie.duration }} minutes</p>
                <a href="{% url 'director' movie.director %}"><p class="text-blue-700 mb-2"><span class="font-bold">Director:</span> {{ movie.director }}</p></a>
            </div>
        </div>
    
        <h2 class="text-xl text-blue-800 mb-2">Genres:</h2>
        <div class="flex flex-wrap justify-center gap-2 mb-4">
            {% for genre_name in genres %}
                <a class="genre-button inline-block px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700" href="{% url 'genre' genre_name %}">{{ genre_name }}</a>
            {% endfor %}
        </div>
    </div>

    <!-- Cast -->
    <div class="mt-6 bg-white shadow-lg rounded-lg p-6 mx-auto text-center w-1/2">
        <h3 class="text-2xl font-bold mb-4 text-blue-600">Cast</h3>
        {% for cast in cast_details %}
            <p class="text-blue-600"></a>{{ cast.name }} as {{ cast.role }}</p>

        {% endfor %}
    </div>

    <!-- Reviews -->
    <div class="mt-6 bg-white shadow-lg rounded-lg p-6 mx-auto text-center w-1/2">
        <h3 class="text-2xl font-bold mb-4 text-blue-600">Reviews</h3>
        {% if reviews %}
            {% for review in reviews %}
                <p class="text-blue-600">rated {{ review.rating }} stars by {{ review.username }}</p>
                <p class="text-blue-600">"{{ review.description }}"</p>
            {% endfor %}
        {% else %}
            <p class="text-blue-600">No reviews found.</p>
        {% endif %}
    </div>

    <!-- Collections -->
    <div class="mt-6 bg-white shadow-lg rounded-lg p-6 mx-auto text-center w-1/2">
        <h3 class="text-2xl font-bold mb-4 text-blue-600">Collections</h3>
        {% if collections %}
            {% for collection in collections %}
                <p class="text-blue-600">{{ collection.name }}</p>
                <p>{{ collection.user }}</p>
            {% endfor %}
        {% else %}
            <p class="text-blue-600">No collections found.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}