<div class="mx-auto text-center">
    <ul class="flex overflow-x-auto space-x-4">
        {% for movie in most_liked_movies %}
            <li class="mb-2 w-64">
                <div class="bg-white shadow-lg rounded-lg p-4 h-64 overflow-auto">
                    <a href="{% url 'movie' movie.id %}" class="text-gray-800 hover:bg-gray-200 block">{{ movie.title }}</a>
                    <br>
                    <p class="text-blue-700 mb-4">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= movie.average_rating %}
                                <i class="fas fa-star text-yellow-500"></i>
                            {% else %}
                                <i class="fas fa-star text-yellow-500 opacity-25"></i>
                            {% endif %}
                        {% endfor %}
                    </p>
                    <div class="font-bold">Likes:</div> {{ movie.like_count }}
                    <div class="font-bold">Genres:</div>
                    {% for genre_name in movie.genres %}
                        <a class="genre-button text-white bg-blue-500 rounded hover:bg-blue-700 px-2 py-1" href="{% url 'genre' genre_name %}">{{ genre_name }}</a>
                    {% endfor %}
                </div>
                <hr class="my-4">
            </li>
        {% endfor %}
    </ul>
</div>